 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");



* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  user-select: none;
  color: black;
}

:root{
  --primary-color: #f9d949;
}

.Main{
  width: 80%;
  margin: auto;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}


nav div a{
  margin-right: 10px;
  color: black;
}

nav div a:hover{
  color: #f9d949;
}


nav div a.active{
  color: var(--primary-color);
  padding:10px 20px;
  background-color: black;
  color: white;
  border-radius: 3px;


}



.posts{
  font-size: 1.2rem;
  font-weight: medium;
}

.create{
  font-size: 1.2rem;
  font-weight: medium;
}

.image{
  width: 100%;
  height: 10rem;
  object-fit: cover;
  margin-top: 16px;

 
}


.title{
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;

}

.date{
  color: #c9c4c4;
  margin-bottom: 5px;
}

hr{
  color: black;
}

.clockIcon{
  width: 15px;
  margin-left: 3px;
}

.arrowLeft{
  width: 25px;
  font-weight: bold;
}

.secHalf{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingText{
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 1.5rem;
}

.Form{
  

}

.Input{
  margin: .5rem 0;
}

input {
 padding: .5rem .2rem;
 outline: none;
 display: block;
  width: 100%;
  
}

label{
  display: block;
}

button{
  display: block;
  margin-top: 10px;
  width: 100%;
  outline: none;
  border: none;
  padding: .6rem 0;
  color: white;
  background-color: black;
  
}

textarea{
  width: 100%;
  height: 50px;
  outline: none;
  padding: 5px;
}